body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #bcbcbc;
}

.container {
    margin-top: 45px;
}
.progress {
    height: 25px;
}
.file-icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
}
table {
    border-collapse: collapse;
}
table th, table td {
    vertical-align: middle;
    border: none; /* Убирает все границы */
}
table thead tr th {
    border-bottom: 2px solid #dee2e6; /* Добавляет нижнюю границу для заголовков */
}
table tbody tr {
    border-bottom: 1px solid #dee2e6; /* Добавляет нижнюю границу для строк таблицы */
}
footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e7e7e7;
}
.footer-section {
    text-align: center;
}
.footer-section h5 {
    margin-bottom: 10px;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle::before {
    content: "\22EE";
    font-size: 24px;
    color: black;
}
        