<footer th:fragment="footer-fragment" class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <!--Github-->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/ryzendee" role="button"
            ><i class="bi bi-github"></i
            ></a>
            <!--Telegram-->
            <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/ryze177" role="button"
            ><i class="bi bi-telegram"></i
            ></a>
        </section>
    </div>
    <div class="footer-end text-center p-3">
        Project info:
        <a class="text-white" href="https://github.com/ryzendee/cloudfilestorage">Link to github</a>
    </div>
</footer>