<footer th:fragment="footer-fragment" class="mt-5 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-start">
                <h5>Project info</h5>
                <p>Project description</p>
            </div>
            <div class="col-md-6 text-end">
                <h5>Contacts</h5>
                <a class="bi bi-github fs-4 text-dark" href="https://github.com/ryzendee"></a>
                <a class="bi bi-telegram fs-4" href="https://t.me/ryze177"></a>
            </div>
        </div>
    </div>
</footer>